/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

nav ul a,
nav .brand-logo {
  color: #444;
}

p, li, a {
  text-align: justify;
 
  font-family:  Times, "Times New Roman", serif;
  
}
h1, h2, h3, h4, h5, h6, ul, ol, span
{
  
  font-family:  Times, "Times New Roman", serif;
  
}

.sidenav-trigger {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
.parallax-container .section {
  width: 100%;
}
.section{
  padding-top: 180px;
}
.hero{
  margin: 0 auto;
  float: none;
  text-align: center;
  border: 20px rgba(37, 37, 37, 0);
  border-radius: 50%; 
}
.floatleft {
	float: left;
}
.floatright {
	float: right;
}

.body-dark-bg
{
  background-color: #060316;
}
.dark-bg {
  background-color: #202026; 
}

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
  .section{
    padding-top: 100px;
  }
  .icon-block{
    text-align: center;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
  .section{
    padding-top: 80px;
  }
  .icon-block{
    text-align: center;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}
